@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  html::-webkit-scrollbar {
    display: none;
  }
  body {
    font-family: 'Poppins', ui-sans-serif, system-ui;
  }
}
